// import variables
@import "variables";

@mixin media-queries {
  @media only screen and (max-width: 570px) {
    .sidebar {
      display: none;
    }
    .name,
    .nav-bar {
      position: sticky;
    }
    .name {
      margin-left: 20px;
      width: 75%;
    }
  }
  @media only screen and (min-width: 571px) {
    .nav-div {
      display: none;
    }
    #portfolio,
    #about,
    #resume,
    #contact {
      margin-left: 380px;
      padding: $p-standard;
    }
  }
}

@mixin font-style {
  body {
    font-family: "Karla", sans-serif;
    color: $dark-color;
  }
  h1 {
    font-size: 3em;
    font-weight: 200;
  }
  .name {
    font-size: 2em;
    font-weight: 200;
  }
  .nav-bar {
    font-size: 1.5em;
  }
  .page-nav a {
    writing-mode: vertical-rl;
    font-size: 1.75em;
    text-align: right;
  }
  a {
    text-decoration: none;
    color: $dark-color;
  }
  .social-nav {
    line-height: 25px;
  }
}

@mixin hover-style {
  a:hover {
    color: $medium-color;
    text-decoration: none;
  }
  .page-nav a:hover {
    writing-mode: horizontal-tb;
  }
}

@mixin nav-div-style {
  body {
    margin: 0;
  }
  .nav-div {
    background-color: $light-color;
    position: sticky;
    top: 0;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .toggle-nav {
    background: none;
    border: 2px solid $dark-color;
    width: 30px;
    height: 30px;
    margin-right: $m-standard;
  }
  .nav-content {
    display: none;
    margin: $m-standard;
  }
  .nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
}

@mixin sidebar-style {
  .sidebar {
    padding: $p-standard;
    padding-top: $p-minimum;
    background-color: $light-color;
    border-right: 2px solid $dark-color;
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .logo-img {
    display: block;
    margin: auto;
    max-width: 60px;
    height: auto;
    padding-bottom: $p-minimum;
  }
  .name {
    border-bottom: 2px solid $dark-color;
  }
  .social-nav {
    margin-top: $m-standard;
  }
  .page-nav {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: baseline;
    margin-top: $m-standard;
  }
  .page-nav a {
    margin-right: $m-standard;
  }
}

@mixin portfolio-style {
  #portfolio {
    padding: $p-minimum;
    padding-top: 0px;
  }
}

@mixin about-style {
  #about {
    display: none;
    padding: $p-minimum;
    padding-top: 0px;
  }
}

@mixin resume-style {
  #resume {
    display: none;
    padding: $p-minimum;
    padding-top: 0px;
  }
}

@mixin contact-style {
  #contact {
    display: none;
    padding: $p-minimum;
    padding-top: 0px;
  }
}
