// import variables
@import "variables";

@mixin media-queries {
  @media only screen and (max-width: 570px) {
    .sidebar {
      display: none;
    }
    .name,
    .nav-bar {
      position: sticky;
    }
    .name {
      margin-left: 20px;
    }
    .section {
      display: block;
      margin: $m-standard;
    }
    .live-link {
      margin-right: 80px;
    }
    .project img {
      width: 100%;
      height: auto;
    }
  }
  @media only screen and (max-width: 425px) {
    .live-link,
    .live-link2 {
      display: block;
      margin-bottom: 10px;
    }
  }
  @media only screen and (min-width: 571px) {
    .nav-div {
      display: none;
    }
    .section {
      display: block;
    }
    #portfolio,
    #about,
    #resume,
    #contact {
      margin-left: 380px;
      padding: $p-standard;
      padding-top: $p-minimum;
    }
    .project img {
      width: 80%;
      height: auto;
    }
    .desc {
      width: 80%;
    }
    .project-1-grid,
    .project-2-grid,
    .project-3-grid,
    .project-4-grid,
    .resume-grid {
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .project-1-grid img {
      grid-row: 2 / span 1;
      grid-column: 1 / span 3;
    }
    .project-1-grid .date {
      grid-row: 3 / span 1;
      grid-column: 1 / span 3;
    }
    .project-1-grid .desc {
      grid-row: 4 / span 1;
      grid-column: 1 / span 3;
    }
    .project-1-grid .live-link {
      grid-row: 5 / span 1;
      grid-column: 1 / span 1;
    }
    .project-1-grid .code-link {
      grid-row: 5 / span 1;
      grid-column: 3 / span 1;
    }

    .project-2-grid img {
      grid-row: 6 / span 1;
      grid-column: 1 / span 3;
    }
    .project-2-grid .date {
      grid-row: 7 / span 1;
      grid-column: 1 / span 3;
    }
    .project-2-grid .desc {
      grid-row: 8 / span 1;
      grid-column: 1 / span 3;
    }
    .project-2-grid .live-link {
      grid-row: 9 / span 1;
      grid-column: 1 / span 1;
    }

    .project-3-grid .img {
      grid-row: 10 / span 1;
      grid-column: 1 / span 1;
    }
    .project-3-grid .date {
      grid-row: 11 / span 1;
      grid-column: 1 / span 1;
    }
    .project-3-grid .desc {
      grid-row: 12 / span 1;
      grid-column: 1 / span 3;
    }
    .project-3-grid .live-link {
      grid-row: 13 / span 1;
      grid-column: 1 / span 1;
    }

    .project-4-grid .img {
      grid-row: 14 / span 1;
      grid-column: 1 / span 1;
    }
    .project-4-grid .date {
      grid-row: 15 / span 1;
      grid-column: 1 / span 1;
    }
    .project-4-grid .desc {
      grid-row: 16 / span 1;
      grid-column: 1 / span 3;
    }
    .project-4-grid .live-link {
      grid-row: 17 / span 1;
      grid-column: 1 / span 1;
    }
    .project-4-grid .live-link2 {
      grid-row: 18 / span 1;
      grid-column: 1 / span 1;
    }
    .project-4-grid .code-link {
      grid-row: 18 / span 1;
      grid-column: 3 / span 1;
    }
    .resume-grid a {
      grid-column: 3 / span 1;
    }
  }
}

@mixin font-style {
  body {
    font-family: "Karla", sans-serif;
    color: $dark-color;
  }
  h1,
  h2 {
    font-weight: 200;
  }
  h1 {
    font-size: 2em;
    border-bottom: 2px solid $dark-color;
  }
  h2 {
    font-size: 1.75em;
    margin: 0;
  }
  .name {
    font-size: 2em;
    font-weight: 200;
  }
  .nav-bar,
  .button {
    font-size: 1.5em;
  }
  .page-nav a {
    writing-mode: vertical-rl;
    font-size: 1.75em;
    text-align: right;
  }
  a {
    text-decoration: none;
    color: $dark-color;
  }
  .social-nav {
    line-height: 25px;
  }
  h4,
  .live-link,
  .live-link2,
  .code-link {
    font-size: 1.5em;
    font-weight: 200;
  }
}

@mixin hover-style {
  a:hover {
    color: $medium-color;
    text-decoration: none;
  }
  .page-nav a:hover {
    writing-mode: horizontal-tb;
  }
  button:hover {
    color: $medium-color;
  }
  #toggle-nav:hover {
    border-color: $medium-color !important;
  }
}

@mixin nav-div-style {
  body {
    margin: 0;
  }
  .nav-div {
    background-color: $light-color;
    position: sticky;
    top: 0;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $p-minimum 0px;
  }
  #toggle-nav {
    background: none;
    border: 2px solid $dark-color;
    width: 30px;
    height: 30px;
    margin-right: $m-standard;
    padding: $p-minimum;
    padding-top: 5px;
    padding-left: 10px;
  }
  .nav-content {
    display: none;
    margin: $m-standard;
  }
  .nav-bar {
    padding: 20px 0px;
  }
  .nav-bar a {
    display: block;
  }
}

@mixin sidebar-style {
  .sidebar {
    padding: $p-standard;
    padding-top: $p-standard;
    background-color: $light-color;
    border-right: 2px solid $dark-color;
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .logo-img {
    display: block;
    margin: auto;
    max-width: 60px;
    height: auto;
    padding-bottom: $p-minimum;
  }
  .name {
    border-bottom: 2px solid $dark-color;
  }
  .resume-title {
    width: 60%;
  }
  .social-nav {
    margin-top: $m-standard;
  }
  .page-nav {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: baseline;

    margin-top: $m-standard;
  }
  .page-nav a {
    margin-right: $m-standard;
  }
}

@mixin portfolio-style {
  #portfolio img {
    border: 2px solid $dark-color;
  }
  .project {
    margin-bottom: $m-standard;
  }
  .project h2 {
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .border {
    border-bottom: 2px solid $dark-color;
    width: 100%;
    margin: $m-standard 0px;
  }
  .desc {
    margin-bottom: $m-standard;
  }
}

@mixin contact-style {
  #contact #contact ul {
    list-style-type: none;
    padding: 0px;
  }
  #contact li {
    margin-bottom: 10px;
  }
}
